* {
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: #2980b9;
    background: linear-gradient(to bottom, #2c3e50, #2980b9 70%, #16a085);
}

#logger p {
	color: white;
}